#container {
    margin: 0 auto;
    width: 1280px;
}

.click {
    margin-left: 1220px;
    background-color: #4bcaff;
    border: 1px solid aqua;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    color: white;
    font-size: 13px;
    text-align: center;
}

.link_two {
    text-decoration: none;
    font-size: 16px;
}

.link_three {
    color: black;
    font-size: 18px;
}

.start {
    font-size: 80px;
}

span {
    color: #4bcaff;
}

.menu-list {
   list-style: none;
   display: flex;
   justify-content: space-around;
   height: 30px;
   background-color: #35444f;
   color: white;
   font-size: 18px;
   height: 70px;
   cursor: pointer;
   padding-left: 200px;
   padding-right: 190px;
}

.menu-list-item {
    padding-top: 25px;
    text-align: center; 
    font-family: 'roboro', sans-serif;
    width: 250px;
}

.menu-list-item:hover {
   border: solid 1px grey;
   background-color:#222f3a;  
}

.middle {
    margin-top: 55px;
    height: 885px;
}

.side {
    width: 345px;
    height: 400px;
    margin-bottom: 250px;
}

.side-list {
    list-style: none;
    border: ridge;
    font-size: 22px;
    padding-left: 0px;    
}

.side-list:hover {
    background-color:;
}

.side-list-item {
    width: 305px;
    height: 80px;
    font-size: 25px;
    padding-top: 32px;
    padding-left: 20px;
    color: #495863;
    font-family: 'roboto',sans-serif;
    font-weight: 400;
    cursor: pointer;  
}

.side-list-item:hover {
    color: black;
    padding-left: 35px;
    background-color: #e6e5e5;
}

.oven {
    border: ridge;
    float: right;
    width: 885px;
    height: 590px;    
}

.picture {
    width: 315px;
    height: 380px; 
    padding-left: 300px; 
    padding-top: 75px; 
}

.box-text {
    margin-left: 445px;   
    width: 885px;
    height: 355px;
}

.some-text {
    width: 850px;
    height: 100px;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
}

.footer {
    background-color: #b4b7ba;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;  
}

.footer-text {
    list-style: none;
    justify-content: space-around;
    display: flex;
    width: 900px;
    padding-left: 0px;
    cursor: pointer;
}

.silka-3:hover {
    border-bottom: solid 1px #3181a6;
    color: #3181a6;
}

.end {
    font-size: 28px;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

.copy {
    font-size: 28px;
    cursor: pointer;
    margin-top: 17px;
    padding-left: 45px;
    
}

.span2 {
    font-size: 15px;
    color: black;
}








